.App {
  text-align: center;
}

#logo {
  border: 5px solid;
  border-radius :50%;
  border:7px solid #77B5FE;
  padding:20px;
}

.App-body{
  line-height:200px;
  padding-right: 20px;
}

#App-col1 {
  overflow:auto;
  position:static;
  padding-top: 140px;
}

#welcome {
  color:#77B5FE;
  font-size: 400% ;
  padding: 0px;
  margin: 0px;
}

#App-col2 {
  background-color: white ;
  position:static;
  padding: 50px 0px 50px 50px;
  margin-right: 10px;
}

.contexte {
  padding: 20px;
  margin: 40px;
}

#team {
  text-align: right;
  font-style: italic;
  font-size: 15px;
  color: grey;
}

#question {
  color:#77B5FE;
  font-size: 150% ;
  text-align: center;
  font-weight: bold;
}

#name {
  color: #77B5FE;
  background-color: white;
}

#button {
  background-color: #77B5FE;
  color: white;
  font-weight: bold;
}

.App-footer {
  background-color: aliceblue;
  color: grey;
  height: 50px;
  padding-top: 5px;
}