.App {
  text-align: center;
}

#App-logo {
  height: 5vmin;
}

#title{
  flex:1;
}

#secondtool {
  justify-content: 'space-between';
}

.App-header {
}


.Menuitem{
  color: white;
}

.App-body{
  line-height:150px;
}

.App-link {
  color: black;
}

#App-col1 {
  background-color: #77B5FE ;
  height: 90vmin;
  overflow:auto;
  position:static;
  padding-top: 150px;
}

#App-col2 {
  background-color: white ;
  height: 90vmin;
  overflow:auto;
  position:static;
  padding: 60px;
}

.App-footer {
  background-color: black;
  color: white;
  height: 90px;
  padding-top: 20px;
}

#contact {
  color: white;
}
